@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@400;600;700&display=swap");
/*--------------- CSS RESET ---------------*/
*,
::before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/*--------------- GLOBALS ---------------*/
:root {
  scroll-behavior: smooth;
  --clr-black: #333333;
  --clr-white: #eeeeee;
  --clr-accent: #4e02de;
  --title-size: 68px;
  --logo-size: 35px;
  --text-size: 30px;
  --link-size: 25px;
  --width: 90%;
  --max-width: 1400px;
  --border-radius: 15px;
  --box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1450px) {
  :root {
    --title-size: 55px;
    --text-size: 30px;
  }
}

@media (max-width: 1250px) {
  :root {
    --text-size: 25px;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-image: url("/images/BG.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Source Sans Pro", sans-serif;
}

/*--------------- GENERAL ---------------*/
.title {
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--clr-black);
  text-align: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding: 25px 0;
}

.container {
  width: var(--width);
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/*--------------- CARD ---------------*/
.container.card-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
}

.card {
  width: 450px;
  max-width: 30%;
  padding: 2rem 0;
  background-color: white;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card .title {
  font-weight: normal;
  text-align: center;
}

.card .card-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.card .card-icons-row {
  margin: 1rem 0;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-icon {
  height: 100px;
}

.card .card-icon.mongo {
  width: 165px;
}

.card .card-icon.sass {
  width: 100px;
}

.card .card-picture {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.card .card-picture .logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--logo-size);
  text-align: center;
  color: var(--clr-accent);
  word-wrap: wrap;
}

.card .card-text {
  color: var(--clr-black);
  text-align: center;
  font-size: var(--text-size);
  margin: auto 0;
  padding: 1rem 0;
  width: 90%;
}

.card .card-cta {
  padding: 0.5rem 2rem;
  background-color: var(--clr-accent);
  color: var(--clr-white);
  border-radius: 5px;
  font-size: var(--text-size);
  margin-top: auto;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.card .card-cta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card .skill-bar {
  width: 70%;
  height: 10px;
  background-color: var(--clr-accent);
  margin-top: auto;
}

@media (max-width: 1100px) {
  .card {
    min-height: 200px;
  }
  .card .card-icon {
    height: 75px;
  }
}

/*--------------- CONTACT ICON CONTAINER ---------------*/
.contact-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-icon-container a + a {
  margin-left: 50px;
}

.contact-icon-container a {
  position: relative;
}

.contact-icon-container .contact-icon {
  height: 50px;
  width: 50px;
  -webkit-transition: fill 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: fill 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, fill 200ms ease-in-out;
  transition: transform 200ms ease-in-out, fill 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  fill: var(--clr-black);
}

.contact-icon-container .contact-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  fill: var(--clr-accent);
}

/*--------------- NAV ---------------*/
nav {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-opener {
  display: none;
}

nav .nav-container {
  width: var(--width);
  max-width: var(--max-width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

nav .logo {
  font-family: "Roboto Condensed", sans-serif;
  font-size: var(--logo-size);
  -webkit-transition: color 400ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: color 400ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, color 400ms ease-in-out;
  transition: transform 200ms ease-in-out, color 400ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

nav .logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--clr-accent);
}

nav .nav-links-container {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-links-container li + li {
  margin-left: 50px;
}

@media (max-width: 1100px) {
  nav .nav-links-container li + li {
    margin-left: 25px;
  }
}

nav .nav-links-container .nav-link {
  font-size: var(--link-size);
  position: relative;
}

nav .nav-links-container .nav-link:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

nav .nav-links-container .nav-link:before {
  content: "";
  height: 3px;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--clr-accent);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

/*--------------- LANDING SECTION ---------------*/
.landing-page .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing-page .title {
  margin-bottom: 25px;
}

/*--------------- ABOUT SECTION ---------------*/
section.about {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

section.about .banner-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about .title {
  margin-top: auto;
}

section.about .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: auto;
  margin-top: 2rem;
  padding: 3rem 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

section.about .banner .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.about .banner-text {
  width: 45%;
  font-size: var(--text-size);
  line-height: 1.6;
  color: var(--clr-black);
}

/*--------------- FOOTER ---------------*/
footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 1rem;
  height: 300px;
}

footer .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

/*--------------- MEDIA QUERIES ---------------*/
@media (max-width: 1000px) {
  .container {
    max-width: 90%;
  }
  nav .menu-opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .menu-opener img {
    height: 50px;
  }
  nav .nav-container {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-links-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: calc(100% + 1rem);
    right: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  nav .nav-links-container li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .nav-links-container li + li {
    margin-top: 1rem;
    margin-left: 0;
  }
  nav .nav-links-container li a {
    text-align: right;
  }
  nav .nav-links-container.opened {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-container .card {
    max-width: 100%;
    width: 350px;
    min-height: 600px;
    margin: 50px 0;
  }
  .card-container .card .card-icon {
    height: 100px;
  }
  section.about .banner {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: transparent;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    width: 100%;
  }
  section.about .banner .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.about .banner .banner-text {
    width: 100%;
    padding: 1.5rem;
    margin: 25px 0;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
}

@media (max-width: 500px) {
  :root {
    --title-size: 45px;
  }
  .contact-icon-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-icon-container .contact-icon {
    height: 40px;
  }
  .contact-icon-container a + a {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .contact-icon-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-icon-container .contact-icon {
    height: 30px;
  }
  footer {
    height: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */