@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Source+Sans+Pro:wght@400;600;700&display=swap");

/*--------------- CSS RESET ---------------*/

*,
::before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/*--------------- GLOBALS ---------------*/

:root {
  scroll-behavior: smooth;

  --clr-black: #333333;
  --clr-white: #eeeeee;

  --title-size: 68px;
  --logo-size: 35px;
  --text-size: 30px;
  --link-size: 25px;

  --width: 90%;
  --max-width: 1400px;

  --border-radius: 15px;
  --box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);

  @media (max-width: 1450px) {
    --title-size: 55px;
    --text-size: 30px;
  }

  @media (max-width: 1250px) {
    --text-size: 25px;
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;

  background-image: url("/images/BG.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Source Sans Pro", sans-serif;
}

/*--------------- GENERAL ---------------*/

.title {
  font-size: var(--title-size);
  font-weight: bold;
  color: var(--clr-black);
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  min-height: 100vh;
  padding: 25px 0;
}

.container {
  width: var(--width);
  max-width: var(--max-width);

  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

/*--------------- CARD ---------------*/

.container.card-container {
  justify-content: space-between;
  margin: auto 0;
}

.card {
  width: 450px;
  max-width: 30%;

  padding: 2rem 0;

  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  flex-direction: column;

  .title {
    font-weight: normal;
    text-align: center;
  }

  .card-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-top: 2rem;
  }

  .card-icons-row {
    margin: 1rem auto;
    width: 70%;

    justify-content: center;
    align-items: center;

    display: flex;
  }

  .card-icon {
    height: 100px;

    & + .card-icon {
      margin-left: auto;
    }

    &.mongo {
      width: 165px;
    }

    &.sass {
      width: 100px;
    }
  }

  .card-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;

    .logo {
      font-family: "Roboto Condensed", sans-serif;
      font-size: var(--logo-size);
      text-align: center;

      word-wrap: wrap;
    }
  }

  .card-text {
    color: var(--clr-black);
    text-align: center;
    font-size: var(--text-size);
    margin: auto 0;

    padding: 1rem 0;

    width: 90%;
  }

  .card-cta {
    padding: 0.5rem 2rem;
    background-color: #9c00c8;
    color: var(--clr-white);
    border-radius: 5px;

    font-size: var(--text-size);
    margin-top: auto;

    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: 1100px) {
    min-height: 200px;

    .card-icon {
      height: 75px;
    }
  }
}

/*--------------- CONTACT ICON CONTAINER ---------------*/

.contact-icon-container {
  display: flex;

  a + a {
    margin-left: 50px;
  }

  a {
    position: relative;
  }

  .contact-icon {
    height: 50px;
    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }
}

/*--------------- NAV ---------------*/

nav {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .menu-opener {
    display: none;
  }

  .nav-container {
    width: var(--width);
    max-width: var(--max-width);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .logo {
    font-family: "Roboto Condensed", sans-serif;
    font-size: var(--logo-size);

    transition: transform 200ms;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-links-container {
    list-style-type: none;
    display: flex;

    li + li {
      margin-left: 50px;

      @media (max-width: 1100px) {
        margin-left: 25px;
      }
    }

    .nav-link {
      font-size: var(--link-size);
      position: relative;

      &:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }

      &:before {
        content: "";
        height: 2px;
        position: absolute;
        top: 100%;

        width: 100%;
        background-color: var(--clr-black);

        transform-origin: right;
        transform: scaleX(0);
        transition: transform 200ms;
      }
    }
  }
}

/*--------------- LANDING SECTION ---------------*/

.landing-page {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .title {
    margin-bottom: 25px;
  }
}

/*--------------- ABOUT SECTION ---------------*/

section.about {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .banner-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-top: auto;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: auto;
    margin-top: 2rem;
    padding: 3rem 0;
    width: 100%;

    background-color: white;
    box-shadow: var(--box-shadow);

    .container {
      justify-content: space-between;
      align-items: center;
    }
  }

  .banner-text {
    width: 45%;

    font-size: var(--text-size);
    line-height: 1.6;
    color: var(--clr-black);
  }
}

/*--------------- FOOTER ---------------*/

footer {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: white;
  box-shadow: var(--box-shadow);

  padding: 1rem;
  height: 300px;

  .container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
  }
}

/*--------------- MEDIA QUERIES ---------------*/

@media (max-width: 1000px) {
  .container {
    max-width: 90%;
  }

  nav {
    .menu-opener {
      display: flex;

      img {
        height: 50px;
      }
    }

    .nav-container {
      position: relative;
      align-items: center;
    }

    .nav-links-container {
      flex-direction: column;

      position: absolute;
      top: 100%;
      right: 0;

      transform: scaleY(0);
      transform-origin: top;
      transition: transform 200ms;

      li {
        display: flex;
        justify-content: flex-end;

        & + li {
          margin-left: 0;
          margin-top: 1rem;
        }

        a {
          text-align: right;
        }
      }

      &.opened {
        transform: scaleY(1);
      }
    }
  }

  .card-container {
    flex-direction: column;
    align-items: center;

    .card {
      max-width: 100%;
      width: 350px;
      min-height: 600px;

      margin: 50px 0;

      .card-icon {
        height: 100px;
      }
    }
  }

  section.about {
    .banner {
      padding: 0;
      margin: 0;

      min-height: 100%;

      background-color: transparent;
      box-shadow: unset;

      width: 100%;

      .container {
        flex-direction: column;
      }

      .banner-text {
        width: 100%;
        padding: 1.5rem;
        margin: 25px 0;

        text-align: center;

        background-color: white;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
      }
    }
  }
}

@media (max-width: 500px) {
  :root {
    --title-size: 45px;
  }

  .contact-icon-container {
    width: 100%;

    display: flex;
    justify-content: space-between;

    a {
      height: 40px;
    }

    a + a {
      margin: 0;
    }
  }
}

@media (max-width: 450px) {
  .contact-icon-container {
    justify-content: space-around;

    a {
      height: 30px;
    }
  }

  footer {
    height: 200px;
  }
}
